* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:focus {
    outline:0;
}

.controls {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    width: 24vmin;
}

h6 {
    margin-left: 20px;
}

section.board {
    display: grid;
    grid-template-columns: repeat(8, 3vmin);
    grid-template-rows: repeat(8, 3vmin);
}